body{
   background-color: hsl(0, 0%, 100%);
   padding: 50px;
   

}
main{
    background-color: hsl(212, 45%, 89%);
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
}
div{
    background-color: white;
    width: 190px;
    height: 330px;
    padding: 10px;
    text-align: center;
}
img{
    width: 195px;
}
#p1{
    font-size: 15px;
    color:hsl(218, 44%, 22%) ;
}
#p2{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}
footer{
    text-align: center;
}